<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">A brief history of Python Frederick</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      On November 5, 2015,
                                      the Python Frederick group was created
                                      on Meetup
                                      and planning began
                                      for ways to serve the local community.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2016</h4>
                                    <h4 class="subheading">First event</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Area residents came to Cowork Frederick
                                      on January 13, 2016
                                      to share pizza and ideas
                                      about how we would regularly talk about Python.
                                      <i>
                                      Fun fact:
                                      Matt, the first organizer,
                                      has his wedding anniversary on the 13<sup>th</sup>.
                                      His wife must really love that nerd. &#128521;
                                      </i>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2016</h4>
                                    <h4 class="subheading">A special visit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Frederick is fortunate enough
                                      to be the closest Python user group
                                      to Kenneth Reitz,
                                      author of the requests package.
                                      Kenneth's work is downloaded millions of times
                                      each month.
                                      He spoke to the group about how to make
                                      Python software that's accessible to all.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now</h4>
                                    <h4 class="subheading">Dedicated to the community</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                      Without fail,
                                      we bring Python topics to the Frederick community
                                      every month.
                                      We've expanded to include workshops
                                      and book clubs
                                      to meet people where they are.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
