<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>We Want To Help</h2>
      <p>
        Whether you are a high school student,
        a hobbyist,
        or a budding data scientist,
        we all benefit from those who came before us.
      </p>
      <p>
        To help <strong>you</strong> start,
        Python Frederick members assembled this set of resources.
        We hope that what you find here will speed you
        on your way to becoming a master <i>Pythonista</i>.
      </p>
      <p>
        If you have questions that we don’t answer here,
        please feel free to <a href="#contact">contact us</a>!
      </p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>For beginners</h3>
      <p>
        Never written a line of code before?
        No idea what a variable is?
        That’s okay!
        We all had to start somewhere.
      </p>
      <p>
        Python is a great first programming language.
      </p>
      <ul>
        <li><p>You’ll need a text editor to get started. <br><a href="https://codewith.mu/" target="_blank">Mu is a good first choice.</a></p></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h3>For data scientists</h3>
      <p>
        If you’re here to learn how to do data science
        in Python, then you’re in for a treat.
      </p>
      <p>
        Python is a <strong>fantastic</strong> language
        for doing scientific analysis!
      </p>
      <p>
        Christine, our resident data scientist co-organizer,
        put together an excellent introduction
        into the tools to use
        to do data science in Python.
      </p>
      <ul>
        <li><p>Check out the <a href="https://github.com/python-frederick/talks/blob/master/2017-12-data-science/Data%20Science%20in%20Python.ipynb" target="_blank">presentation material on GitHub</a>.</p></li>
        <li><p>You can also find the accompanying <a href="https://www.youtube.com/watch?v=3kTOLVD0ZCg" target="_blank">presentation on YouTube</a>.</p></li>
      </ul>
      <p>
        The presentation is full of great information.
      </p>
      <br>
    </div>
    <div class="col-md-4">
      <h3>For experienced devs</h3>
      <p>
        Maybe you’re a Java expert?
        Or perhaps you learned enough PHP
        to understand the basics of programming.
      </p>
      <p>
        There are some great resources
        for people who already understand programming
        and want to learn a new language.
      </p>
      <ul>
        <li>
          <p>
            Do code exercises and get mentoring
            from the team
            at <a href="https://exercism.io/" target="_blank">Exercism</a> (for free!).
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
