<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>We Want To Help</h2>
      <p>
        Whether you are a high school student,
        a hobbyist,
        or a budding data scientist,
        we all benefit from those who came before us.
      </p>
      <p>
        To help <strong>you</strong> start,
        Python Frederick members assembled this set of resources.
        We hope that what you find here will speed you
        on your way to becoming a master <i>Pythonista</i>.
      </p>
      <p>
        If you have questions that we don’t answer here,
        please feel free to contact us!
      </p>
      <h3>Oops&hellip;</h3>
      <p>
        It looks like you caught us before we finished this page.
        Let us know what kind of materials would help you the most!
      </p>
    </div>
  </div>
</div>
