<!-- Services Section -->
    <section id="who">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <h3 class="section-subheading text-muted">
                      We&rsquo;re a Python user group in Frederick, Maryland for people interested in learning and using the Python programming language.
                      <br>
                      <br>
                      <b>We exist to teach others how to write code in Python
                      so that they may impact the world around them</b>.
                      <br>
                      <br>
                      Want to chat? Join us on <a href="https://fredericktechinvite.herokuapp.com/" target="_blank">Slack, our group chat tool</a>. Need help? Check out the <a href="{{ site.baseurl }}{% link get-help.html %}">Get Help</a> page.
                    </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Python Talks</h4>
                    <p class="text-muted">We want people to discover the awesome things Python can do! Python Frederick hosts monthly talks every second Wednesday.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Workshops</h4>
                    <p class="text-muted">Every third Saturday we host an open workshop along with the rest of Frederick Tech. Help with a common project, bring your own, or bring your questions!</p>

                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Book Club</h4>
                    <p class="text-muted">
                      Join us for our book club where we dive into the design of open source software applications, learn the fundamentals of Python, and more!
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <br>
                    <a href="https://www.meetup.com/python-frederick/" class="btn btn-xl">See all future events</a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <br>
                    <br>
                    <br>
                    <p class="text-muted">
                      Python Frederick events are hosted
                      by our partners:
                      <br>
                      the <a href="http://cs.hood.edu/" target="_blank">Hood College Computer Science Department</a>
                      and
                      <a href="https://frederick.edu/" target="_blank">Frederick Community College</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
