<!-- Services Section -->
    <section id="Who we are">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who we are</h2>
                    <h3 class="section-subheading text-muted">For people interested in learning and using the Python programming language.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-meetup fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Second Wednesday Talks</h4>
                    <p class="text-muted">We want people to discover the awesome things Python can do! Python Frederick hosts mothly talks.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Workshops</h4>
                    <p class="text-muted">Every third Saturday we host an open workshop, along with the rest of Frederick Tech. Help with a common project or bring your own.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Book Club</h4>
                    <p class="text-muted">Join us for our book club where we dive into design and creation of open source software applications.</p>
                </div>
            </div>
        </div>
    </section>
