<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include navigation.html %}

    <header class="resources">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">How Can I Get Started?</div>
          <div class="intro-heading">Here Are Some Tools</div>
        </div>
      </div>
    </header>

    {% include resources.html %}

    {% include contact.html %}
    {% include footer.html %}
    {% include js.html %}
    {% include analytics.html %}
    </body>
</html>
